.timeline {
  position: relative;
  grid-row: 2;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px 0 20px 0;
}

.timeline-container::after {
  background-color: rgba(255, 0, 0, 0.75);
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

.loader-container {
  padding-top: 200px;
}

.loader {
  margin: 0 auto;
  border: 16px solid rgb(190, 190, 190, 0.8);
  border-top: 16px solid rgb(54, 54, 54, 0.8);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*
Adding media queries to make this website responsive
*/
@media only screen and (max-width: 540px) {
  .timeline-container::after {
    left: 15px;
  }
}
