.timeline {
  position: relative;
  grid-row: 2;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px 0 20px 0;
}

.timeline-container::after {
  background-color: red;
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

/*
Adding media queries to make this website responsive
*/

@media only screen and (max-width: 540px) {
  .timeline-container::after {
    left: 15px;
  }
}
