/* Footer styling */
.footer {
  height: fit-content;
  background-color: rgb(54, 54, 54);
  color: white;
  align-items: center;
  text-align: center;
  grid-row: 3;
  padding: 10px 0px 10px 0px;
  box-shadow: 0px -2px 30px 10px rgba(0, 0, 0, 0.15);
}

.footer-copyright {
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 5px;
}

.footer-link {
  margin: 0;
  text-align: center;
  color: aliceblue;
  font-size: 12px;
  line-height: 12px;
  text-decoration: none;
}

.footer-link:hover {
  opacity: 0.8;
}

/*
Adding media queries to make this website responsive
*/
@media only screen and (max-width: 767px) {
  .footer {
    font-size: 12px;
  }
}
