* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  position: relative;
}

body {
  background-color: #333;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

#root {
  width: 100%;
}

.app {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  display: grid;
  grid-template-rows: auto auto 50px;
}

/* Header styling */
.header {
  align-items: center;
  text-align: center;
  grid-row: 1;
}

.header h1 {
  text-align: center;
  color: #fff;
  font-size: 42px;
  margin: 10px 0 10px 0;
  padding: 0 0 0 0;
}

.tagline {
  text-align: center;
  color: #fff;
  font-style: italic;
  font-size: 12px;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

.timeline {
  position: relative;
  grid-row: 2;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 20px 0 20px 0;
}

.timeline-container::after {
  background-color: red;
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 0px;
  padding-left: 30px;
}

.timeline-item-content {
  max-width: 95%;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  text-align: right;
  background-color: #fff;
  position: relative;
}

.timeline-item-content::after {
  content: " ";
  background-color: #fff;
  transform: rotate(45deg);
  right: -7.5px;
  top: calc(50% - 7.5px);
  width: 15px;
  height: 15px;
  position: absolute;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item:nth-child(odd) .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 1px;
  top: 5px;
  left: 5px;
  border-radius: 5px;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 5px;
}

.timeline-item-content time {
  color: #333;
  font-size: 16px;
}

.timeline-item-p {
  font-size: 16px;
  line-height: 24px;
  margin: 0px 0 0px 0;
  max-width: 100%;
  text-align: left;
  letter-spacing: 0.01px;
}

.timeline-item-title {
  font-size: 30px;
  font-weight: bold;
  margin: 15px 0 15px 0;
  color: black;
}

.timeline-item-content a {
  color: #333;
  text-decoration: none;
  font-size: 14px;
  margin-top: 15px;
}

.timeline-item-content a::after {
  content: "➤";
  font-size: 12px;
}

.timeline-item-content .circle {
  background-color: #fff;
  border: 3px solid red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  z-index: 100;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -40px;
}

.timeline-item-content img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 12px;
  border-radius: 10px;
}

.city-filter {
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.city-filter-label {
  color: white;
}

/* Footer styling */
.footer {
  color: #fff;
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0;
  font-size: 16px;
  align-items: center;
  text-align: center;
  grid-row: 3;
}

/*
Adding media queries to make this website responsive
*/
@media only screen and (max-width: 767px) {
  .header h1 {
    font-size: 42px;
    text-align: center;
  }

  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }

  .timeline-item-title {
    font-size: 16px;
  }

  .timeline-item-p {
    font-size: 12px;

    /*This doesn't really do anything yet, I was trying to limit the text at smaller screen sizes*/
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .timeline-item-content .tag {
    width: calc(100% - 10px);
  }

  .timeline-item-content time {
    margin-top: 20px;
  }

  .timeline-item-content a {
    text-decoration: underline;
    font-size: 10px;
  }

  .timeline-item-content a::after {
    display: none;
  }

  .footer {
    font-size: 12px;
  }
}

@media only screen and (max-width: 540px) {
  .timeline-container::after {
    left: 15px;
  }

  .timeline-item {
    width: 98%;
    align-self: flex-start;
    margin-left: 35px;
    padding-right: 35px;
    padding-left: 0px;
  }

  .timeline-item:nth-child(odd) {
    align-self: flex-start;
    margin-left: calc(15px - 3px);
    padding-left: 35px;
    padding-right: 0px;
  }

  /* This is the little arrow that comes out of the card */
  .timeline-item-content::after {
    content: " ";
    background-color: #fff;
    transform: rotate(45deg);
    left: -7.5px;
    top: calc(50% - 7.5px);
    width: 15px;
    height: 15px;
    position: absolute;
    box-shadow: -1px 0px 0px -1px rgba(0, 0, 0, 0.2);
  }

  .timeline-item:nth-child(odd) .timeline-item-content::after {
    right: auto;
    left: -7.5px;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
  }

  .timeline-item-content .circle,
  .timeline-item:nth-child(odd) .timeline-item-content .circle {
    left: -40px;
  }
}
